@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.main-hero-img {
  border-radius: 10%;
  
}
.image-frame {
  width: 850px; /* Set the desired width */
  height: 100px; /* Set the desired height */
  border: 1px solid #000; /* Adjust the color and width of the frame */
  padding: 0px; /* Optional: Add padding inside the border */
  border-radius: 10px; /* Optional: Add rounded corners */
  object-fit: cover; /* Ensures the image covers the frame without distortion */
}

/* For the social icons */
